body {
  background-color: #7dc5f89c;
}

.box {
  background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  height: 300px;
  width: 250px;
  border-radius: 10px;
 margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.display {
  background-color: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
  width: 225px;
  position: relative;
  left: 15px;
  top: 20px;
  height: 40px;
}

.display input {
  width: 212px;
  position: relative;
  left: 2px;
  top: 2px;
  height: 35px;
  color:white;
  background-color: #17181A;
  font-size: 21px;
  text-align: right;
}

.keys {
  position: relative;
  top: 15px;
}

.button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 8px;
  margin-left: 17px;
  cursor: pointer;
  border-top: 2px solid transparent;
  outline: none;
}

.button.gray {
  color: #29A8FF;
  background-color: #303136;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
  
}

.button.pink {
  color: #339DFF;
  background-color: #005DB2;
  border-bottom: black 2px solid;
}

.button.black {
  color: #29A8FF;
  background-color: #303136;
  border-bottom: black 2px solid;
  border-top: 2px #303030 solid;
}

.button.orange {
  color: #B2DAFF;
  background: #1991FF;
  border-bottom: black 2px solid;
}

.gray:active {
  border-top: black 2px solid;
  border-bottom: 2px #6f6f6f solid;
}

.pink:active {
  border-top: black 2px solid;
  border-bottom: #005DB2 2px solid;

}

.black:active {
  border-top: black 2px solid;
  border-bottom: #303030 2px solid;
}

.orange:active {
  border-top: black 2px solid;
  border-bottom: #1991FF 2px solid;
}

p {
  line-height: 10px;
}

input[disabled] {
  opacity: .5;
}

button[disabled] {
  opacity: .5;
}